body {
  background-image: url("img/shopkin-background.jpg");
  background-size: contain;
  text-align: center;
  position: relative;
}

#messageBoard {
  font-family: 'Butterfly Kids', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  color: fuchsia;
  display: inline;
}

#status {
  height: 18px;
  margin-top: 70px
}

th, td {
  border: 1px solid fuchsia;
  width: 120px;
  height: 120px;
}

table {
  border: 3px ridge fuchsia;
  margin: 0 auto;
}

td {
  background-size: cover;
}

/* resize image to fit div*/
img {
  width: 120px;
  height: 120px;
}

/*css for jquery flip */
div {
  height: 120px;
  width: 120px;
}

div.front {
  background-image: url("img/shopkin-logo.jpg");
  background-size: cover;
}

div.back {
  background-size: cover;
}

button {
  background-color: lightblue;
  width: 120px;
  height: 25px;
}

#hms {
  text-align: center;
}
